In [1]:
import numpy as np 
import pandas as pd

In [9]:
np.random.seed(20)
df=pd.DataFrame(np.random.randn(10,4),index=pd.date_range('2023-07-08',periods=10),columns=['a','b','c','d'])
df

                   a         b         c         d
2023-07-08  0.883893  0.195865  0.357537 -2.343262
2023-07-09 -1.084833  0.559696  0.939469 -0.978481
2023-07-10  0.503097  0.406414  0.323461 -0.493411
2023-07-11 -0.792017 -0.842368 -1.279503  0.245715
2023-07-12 -0.044195  1.567633  1.051109  0.406368
2023-07-13 -0.168646 -3.189703  1.120132  1.332778
2023-07-14 -0.243339 -0.130031 -0.109017  1.556186
2023-07-15  0.128778 -2.066949 -0.885493 -1.104579
2023-07-16  0.932866  2.059838 -0.934938 -1.612990
2023-07-17  0.527070 -1.551101  0.329613 -1.136527

In [10]:
df['new']=df['c']+df['d']

In [11]:
df

                   a         b         c         d       new
2023-07-08  0.883893  0.195865  0.357537 -2.343262 -1.985725
2023-07-09 -1.084833  0.559696  0.939469 -0.978481 -0.039012
2023-07-10  0.503097  0.406414  0.323461 -0.493411 -0.169950
2023-07-11 -0.792017 -0.842368 -1.279503  0.245715 -1.033787
2023-07-12 -0.044195  1.567633  1.051109  0.406368  1.457477
2023-07-13 -0.168646 -3.189703  1.120132  1.332778  2.452910
2023-07-14 -0.243339 -0.130031 -0.109017  1.556186  1.447169
2023-07-15  0.128778 -2.066949 -0.885493 -1.104579 -1.990073
2023-07-16  0.932866  2.059838 -0.934938 -1.612990 -2.547928
2023-07-17  0.527070 -1.551101  0.329613 -1.136527 -0.806913

In [14]:
df['new_square_root_d']=df['d'].apply(lambda x:x**.5)

In [15]:
df

,a,b,c,d,new,new_square_root_d
2023-07-08,0.883893,0.195865,0.357537,-2.343262,-1.985725,0.000000+1.530772j
2023-07-09,-1.084833,0.559696,0.939469,-0.978481,-0.039012,0.000000+0.989182j
2023-07-10,0.503097,0.406414,0.323461,-0.493411,-0.169950,0.000000+0.702432j
2023-07-11,-0.792017,-0.842368,-1.279503,0.245715,-1.033787,0.495697+0.000000j
2023-07-12,-0.044195,1.567633,1.051109,0.406368,1.457477,0.637470+0.000000j
2023-07-13,-0.168646,-3.189703,1.120132,1.332778,2.452910,1.154460+0.000000j
2023-07-14,-0.243339,-0.130031,-0.109017,1.556186,1.447169,1.247472+0.000000j
2023-07-15,0.128778,-2.066949,-0.885493,-1.104579,-1.990073,0.000000+1.050990j
2023-07-16,0.932866,2.059838,-0.934938,-1.612990,-2.547928,0.000000+1.270036j
2023-07-17,0.527070,-1.551101,0.329613,-1.136527,-0.806913,0.000000+1.066080j

In [16]:
df['new_apply_log']=df['d'].apply(lambda x:np.log(x))

In [17]:
df

,a,b,c,d,new,new_square_root_d,new_apply_log
2023-07-08,0.883893,0.195865,0.357537,-2.343262,-1.985725,0.000000+1.530772j,NaN
2023-07-09,-1.084833,0.559696,0.939469,-0.978481,-0.039012,0.000000+0.989182j,NaN
2023-07-10,0.503097,0.406414,0.323461,-0.493411,-0.169950,0.000000+0.702432j,NaN
2023-07-11,-0.792017,-0.842368,-1.279503,0.245715,-1.033787,0.495697+0.000000j,-1.403582
2023-07-12,-0.044195,1.567633,1.051109,0.406368,1.457477,0.637470+0.000000j,-0.900495
2023-07-13,-0.168646,-3.189703,1.120132,1.332778,2.452910,1.154460+0.000000j,0.287266
2023-07-14,-0.243339,-0.130031,-0.109017,1.556186,1.447169,1.247472+0.000000j,0.442238
2023-07-15,0.128778,-2.066949,-0.885493,-1.104579,-1.990073,0.000000+1.050990j,NaN
2023-07-16,0.932866,2.059838,-0.934938,-1.612990,-2.547928,0.000000+1.270036j,NaN
2023-07-17,0.527070,-1.551101,0.329613,-1.136527,-0.806913,0.000000+1.066080j,NaN

In [22]:
## if we don't need nan value than we can do this 
def test(x):
    if x<0:
        return x
    else:
        return np.log(x)

In [23]:
df['new_apply_log']=df['d'].apply(test)

In [24]:
df

,a,b,c,d,new,new_square_root_d,new_apply_log
2023-07-08,0.883893,0.195865,0.357537,-2.343262,-1.985725,0.000000+1.530772j,-2.343262
2023-07-09,-1.084833,0.559696,0.939469,-0.978481,-0.039012,0.000000+0.989182j,-0.978481
2023-07-10,0.503097,0.406414,0.323461,-0.493411,-0.169950,0.000000+0.702432j,-0.493411
2023-07-11,-0.792017,-0.842368,-1.279503,0.245715,-1.033787,0.495697+0.000000j,-1.403582
2023-07-12,-0.044195,1.567633,1.051109,0.406368,1.457477,0.637470+0.000000j,-0.900495
2023-07-13,-0.168646,-3.189703,1.120132,1.332778,2.452910,1.154460+0.000000j,0.287266
2023-07-14,-0.243339,-0.130031,-0.109017,1.556186,1.447169,1.247472+0.000000j,0.442238
2023-07-15,0.128778,-2.066949,-0.885493,-1.104579,-1.990073,0.000000+1.050990j,-1.104579
2023-07-16,0.932866,2.059838,-0.934938,-1.612990,-2.547928,0.000000+1.270036j,-1.612990
2023-07-17,0.527070,-1.551101,0.329613,-1.136527,-0.806913,0.000000+1.066080j,-1.136527

In [27]:
def test1(x):
    if x<=0:
        return 0
    else:
        return 1

In [28]:
df['test_for_neg_or_pos']=df['a'].apply(test1)

In [29]:
df

,a,b,c,d,new,new_square_root_d,new_apply_log,test_for_neg_or_pos
2023-07-08,0.883893,0.195865,0.357537,-2.343262,-1.985725,0.000000+1.530772j,-2.343262,1
2023-07-09,-1.084833,0.559696,0.939469,-0.978481,-0.039012,0.000000+0.989182j,-0.978481,0
2023-07-10,0.503097,0.406414,0.323461,-0.493411,-0.169950,0.000000+0.702432j,-0.493411,1
2023-07-11,-0.792017,-0.842368,-1.279503,0.245715,-1.033787,0.495697+0.000000j,-1.403582,0
2023-07-12,-0.044195,1.567633,1.051109,0.406368,1.457477,0.637470+0.000000j,-0.900495,0
2023-07-13,-0.168646,-3.189703,1.120132,1.332778,2.452910,1.154460+0.000000j,0.287266,0
2023-07-14,-0.243339,-0.130031,-0.109017,1.556186,1.447169,1.247472+0.000000j,0.442238,0
2023-07-15,0.128778,-2.066949,-0.885493,-1.104579,-1.990073,0.000000+1.050990j,-1.104579,1
2023-07-16,0.932866,2.059838,-0.934938,-1.612990,-2.547928,0.000000+1.270036j,-1.612990,1
2023-07-17,0.527070,-1.551101,0.329613,-1.136527,-0.806913,0.000000+1.066080j,-1.136527,1

In [35]:
df.sort_values(by='b',ascending=False)

,a,b,c,d,new,new_square_root_d,new_apply_log,test_for_neg_or_pos
2023-07-16,0.932866,2.059838,-0.934938,-1.612990,-2.547928,0.000000+1.270036j,-1.612990,1
2023-07-12,-0.044195,1.567633,1.051109,0.406368,1.457477,0.637470+0.000000j,-0.900495,0
2023-07-09,-1.084833,0.559696,0.939469,-0.978481,-0.039012,0.000000+0.989182j,-0.978481,0
2023-07-10,0.503097,0.406414,0.323461,-0.493411,-0.169950,0.000000+0.702432j,-0.493411,1
2023-07-08,0.883893,0.195865,0.357537,-2.343262,-1.985725,0.000000+1.530772j,-2.343262,1
2023-07-14,-0.243339,-0.130031,-0.109017,1.556186,1.447169,1.247472+0.000000j,0.442238,0
2023-07-11,-0.792017,-0.842368,-1.279503,0.245715,-1.033787,0.495697+0.000000j,-1.403582,0
2023-07-17,0.527070,-1.551101,0.329613,-1.136527,-0.806913,0.000000+1.066080j,-1.136527,1
2023-07-15,0.128778,-2.066949,-0.885493,-1.104579,-1.990073,0.000000+1.050990j,-1.104579,1
2023-07-13,-0.168646,-3.189703,1.120132,1.332778,2.452910,1.154460+0.000000j,0.287266,0

In [36]:
df.index

DatetimeIndex(['2023-07-08', '2023-07-09', '2023-07-10', '2023-07-11',
               '2023-07-12', '2023-07-13', '2023-07-14', '2023-07-15',
               '2023-07-16', '2023-07-17'],
              dtype='datetime64[ns]', freq='D')

In [37]:
## how to make index as a new column
df['new_date']=df.index

In [38]:
df

,a,b,c,d,new,new_square_root_d,new_apply_log,test_for_neg_or_pos,new_date
2023-07-08,0.883893,0.195865,0.357537,-2.343262,-1.985725,0.000000+1.530772j,-2.343262,1,2023-07-08
2023-07-09,-1.084833,0.559696,0.939469,-0.978481,-0.039012,0.000000+0.989182j,-0.978481,0,2023-07-09
2023-07-10,0.503097,0.406414,0.323461,-0.493411,-0.169950,0.000000+0.702432j,-0.493411,1,2023-07-10
2023-07-11,-0.792017,-0.842368,-1.279503,0.245715,-1.033787,0.495697+0.000000j,-1.403582,0,2023-07-11
2023-07-12,-0.044195,1.567633,1.051109,0.406368,1.457477,0.637470+0.000000j,-0.900495,0,2023-07-12
2023-07-13,-0.168646,-3.189703,1.120132,1.332778,2.452910,1.154460+0.000000j,0.287266,0,2023-07-13
2023-07-14,-0.243339,-0.130031,-0.109017,1.556186,1.447169,1.247472+0.000000j,0.442238,0,2023-07-14
2023-07-15,0.128778,-2.066949,-0.885493,-1.104579,-1.990073,0.000000+1.050990j,-1.104579,1,2023-07-15
2023-07-16,0.932866,2.059838,-0.934938,-1.612990,-2.547928,0.000000+1.270036j,-1.612990,1,2023-07-16
2023-07-17,0.527070,-1.551101,0.329613,-1.136527,-0.806913,0.000000+1.066080j,-1.136527,1,2023-07-17

In [39]:
## How to perform seperation operation on new_date column 
df['day']=df.index.day
df['month']=df.index.month
df['year']=df.index.year

In [40]:
df

,a,b,c,d,new,new_square_root_d,new_apply_log,test_for_neg_or_pos,new_date,day,month,year
2023-07-08,0.883893,0.195865,0.357537,-2.343262,-1.985725,0.000000+1.530772j,-2.343262,1,2023-07-08,8,7,2023
2023-07-09,-1.084833,0.559696,0.939469,-0.978481,-0.039012,0.000000+0.989182j,-0.978481,0,2023-07-09,9,7,2023
2023-07-10,0.503097,0.406414,0.323461,-0.493411,-0.169950,0.000000+0.702432j,-0.493411,1,2023-07-10,10,7,2023
2023-07-11,-0.792017,-0.842368,-1.279503,0.245715,-1.033787,0.495697+0.000000j,-1.403582,0,2023-07-11,11,7,2023
2023-07-12,-0.044195,1.567633,1.051109,0.406368,1.457477,0.637470+0.000000j,-0.900495,0,2023-07-12,12,7,2023
2023-07-13,-0.168646,-3.189703,1.120132,1.332778,2.452910,1.154460+0.000000j,0.287266,0,2023-07-13,13,7,2023
2023-07-14,-0.243339,-0.130031,-0.109017,1.556186,1.447169,1.247472+0.000000j,0.442238,0,2023-07-14,14,7,2023
2023-07-15,0.128778,-2.066949,-0.885493,-1.104579,-1.990073,0.000000+1.050990j,-1.104579,1,2023-07-15,15,7,2023
2023-07-16,0.932866,2.059838,-0.934938,-1.612990,-2.547928,0.000000+1.270036j,-1.612990,1,2023-07-16,16,7,2023
2023-07-17,0.527070,-1.551101,0.329613,-1.136527,-0.806913,0.000000+1.066080j,-1.136527,1,2023-07-17,17,7,2023

In [42]:
## or we can do this 
df['day1']=df['new_date'].dt.day
df['month1']=df['new_date'].dt.month
df['year1']=df['new_date'].dt.year

In [43]:
df

,a,b,c,d,new,new_square_root_d,new_apply_log,test_for_neg_or_pos,new_date,day,month,year,day1,month1,year1
2023-07-08,0.883893,0.195865,0.357537,-2.343262,-1.985725,0.000000+1.530772j,-2.343262,1,2023-07-08,8,7,2023,8,7,2023
2023-07-09,-1.084833,0.559696,0.939469,-0.978481,-0.039012,0.000000+0.989182j,-0.978481,0,2023-07-09,9,7,2023,9,7,2023
2023-07-10,0.503097,0.406414,0.323461,-0.493411,-0.169950,0.000000+0.702432j,-0.493411,1,2023-07-10,10,7,2023,10,7,2023
2023-07-11,-0.792017,-0.842368,-1.279503,0.245715,-1.033787,0.495697+0.000000j,-1.403582,0,2023-07-11,11,7,2023,11,7,2023
2023-07-12,-0.044195,1.567633,1.051109,0.406368,1.457477,0.637470+0.000000j,-0.900495,0,2023-07-12,12,7,2023,12,7,2023
2023-07-13,-0.168646,-3.189703,1.120132,1.332778,2.452910,1.154460+0.000000j,0.287266,0,2023-07-13,13,7,2023,13,7,2023
2023-07-14,-0.243339,-0.130031,-0.109017,1.556186,1.447169,1.247472+0.000000j,0.442238,0,2023-07-14,14,7,2023,14,7,2023
2023-07-15,0.128778,-2.066949,-0.885493,-1.104579,-1.990073,0.000000+1.050990j,-1.104579,1,2023-07-15,15,7,2023,15,7,2023
2023-07-16,0.932866,2.059838,-0.934938,-1.612990,-2.547928,0.000000+1.270036j,-1.612990,1,2023-07-16,16,7,2023,16,7,2023
2023-07-17,0.527070,-1.551101,0.329613,-1.136527,-0.806913,0.000000+1.066080j,-1.136527,1,2023-07-17,17,7,2023,17,7,2023

In [47]:
## how to fetch week days name 
df['day_name']=df['new_date'].dt.day_name()
df['month_name']=df['new_date'].dt.month_name()

In [48]:
df

,a,b,c,d,new,new_square_root_d,new_apply_log,test_for_neg_or_pos,new_date,day,month,year,day1,month1,year1,day_name,month_name
2023-07-08,0.883893,0.195865,0.357537,-2.343262,-1.985725,0.000000+1.530772j,-2.343262,1,2023-07-08,8,7,2023,8,7,2023,Saturday,July
2023-07-09,-1.084833,0.559696,0.939469,-0.978481,-0.039012,0.000000+0.989182j,-0.978481,0,2023-07-09,9,7,2023,9,7,2023,Sunday,July
2023-07-10,0.503097,0.406414,0.323461,-0.493411,-0.169950,0.000000+0.702432j,-0.493411,1,2023-07-10,10,7,2023,10,7,2023,Monday,July
2023-07-11,-0.792017,-0.842368,-1.279503,0.245715,-1.033787,0.495697+0.000000j,-1.403582,0,2023-07-11,11,7,2023,11,7,2023,Tuesday,July
2023-07-12,-0.044195,1.567633,1.051109,0.406368,1.457477,0.637470+0.000000j,-0.900495,0,2023-07-12,12,7,2023,12,7,2023,Wednesday,July
2023-07-13,-0.168646,-3.189703,1.120132,1.332778,2.452910,1.154460+0.000000j,0.287266,0,2023-07-13,13,7,2023,13,7,2023,Thursday,July
2023-07-14,-0.243339,-0.130031,-0.109017,1.556186,1.447169,1.247472+0.000000j,0.442238,0,2023-07-14,14,7,2023,14,7,2023,Friday,July
2023-07-15,0.128778,-2.066949,-0.885493,-1.104579,-1.990073,0.000000+1.050990j,-1.104579,1,2023-07-15,15,7,2023,15,7,2023,Saturday,July
2023-07-16,0.932866,2.059838,-0.934938,-1.612990,-2.547928,0.000000+1.270036j,-1.612990,1,2023-07-16,16,7,2023,16,7,2023,Sunday,July
2023-07-17,0.527070,-1.551101,0.329613,-1.136527,-0.806913,0.000000+1.066080j,-1.136527,1,2023-07-17,17,7,2023,17,7,2023,Monday,July

In [53]:
df.groupby('day_name').count()

,a,b,c,d,new,new_square_root_d,new_apply_log,test_for_neg_or_pos,new_date,day,month,year,day1,month1,year1,month_name
day_name,,,,,,,,,,,,,,,,
Friday,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Monday,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Saturday,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Sunday,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Thursday,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Tuesday,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Wednesday,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [3]:

def wrap(string, max_width):
    a=''
    j=0
    for i in string:
        j=j+1
        if j<=max_width:
            a=a+i
        else:
            print(a)
            a=''
            j=0
    return

if __name__ == '__main__':
    string, max_width = input(), int(input())
    result = wrap(string, max_width)
    print(result)

abcdefghijklmnopqrstuvwxyz
4
abcd
fghi
klmn
pqrs
uvwx
None